<section class='card'>
  <div class='card-head'>
    <h3 class='card-title' id='{{post_id}}'>{{post_title}}</h3>
  </div>
  <div class='card-options'>
    <button id='edit' class='editbtn' data-edited='{{id}}'><i
        class='fa-solid fa-user-pen'
      ></i></button>
    <button id='delete' class='deletebtn' data-deleted='{{id}}'><i
        class='fa-solid fa-trash-can'
      ></i></button>
  </div>
  <div class='card-body'>
    {{post_content}}
  </div>
</section>